# Google reCAPTCHA backend secret key
RECAPTCHA_SECRET_KEY=""

# Google reCAPTCHA frontend site key for php-frontend
RECAPTCHA_SITE_KEY=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URI="http://localhost/campuscare-api/php-frontend/google-callback.php"
